* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
 
}


/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem 2rem;
}

.logo a {
  color: #fff;
  font-size: 1.8rem;
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 2rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem;
}

nav ul li a:hover {
  background-color: #444;
  border-radius: 4px;
}

/* Hamburger menu styles */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
}

.hamburger span {
  background-color: #fff;
  height: 4px;
  width: 100%;
}
.home-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}
.home-box button {
  background-color: transparent;
  padding: 0.3rem 0.6rem;
  border-radius: 12px;
  outline: none;
  border: 1px solid silver;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.view-balance-home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  margin-top: 6%;
}
.viewbal
{
  color:grey;
}
.notviewbal {
  color: grey;
  display: none;
}
.bal {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: transparent;
  

}
.content-box h2
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:0.6rem;
  padding: 9px;
  
}
/* Responsive design */
@media (max-width: 768px) {
  nav ul {
    display: none;
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: #333;
    text-align: center;
  }

  nav ul li {
    margin: 1rem 0;
  }

  .hamburger {
    display: flex;
    cursor: pointer;
  }

  nav ul.active {
    display: flex;
  }
}
/* Main */
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
}

main header {
  text-align: center;
  margin-bottom: 2rem;
  border-radius: 1.2rem;
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
  border-radius: 15px;
  backdrop-filter: blur(10px); /* Blurs the background */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Optional border with some transparency */
  background-color: #282828;
  color: white;
  
}

main header h1 {
  font-size: 2.5rem;
  color:white;
}
main header h3 {
  color:white;
  font-weight: 600;
}

main header p {
  font-size: 1.2rem;
  color: #666;
}

.content {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.content-box,
.appoint-content-box {
  background-color: whitesmoke;
  padding: 1.5rem;
  border-radius: 8px;
  width: 30%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: auto;
}
.content-box:hover
{
  transition: all 300ms;
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.301) 0px 25px 20px -20px;
  
  
  
}
.content-box:hover h2
{
  transition: all 300ms;
  color:black;
}

.appoint-content-box {
  width: 100%;
}

.content-box h2,
.appoint-content-box h2 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.content-box p,
.appoint-content-box p {
  font-size: 1rem;
  color: #666;
}

/* Responsive Design */
@media (max-width: 768px) {
  main header h1 {
    font-size: 2rem;
  }

  main header p {
    font-size: 1rem;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .content-box,
  .appoint-content-box {
    width: 80%;
    margin-bottom: 1.5rem;
  }
}

/* Search - Bar */
.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  width: 40%;
  padding: 12px;
  border-radius: 12px;
  
}
.search-container input {
  color: white;
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
            border-radius: 15px;
            backdrop-filter: blur(10px); /* Blurs the background */
            border: 1px solid rgba(255, 255, 255, 0.2); /* Optional border with some transparency */
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
}
.search-container input::placeholder
{
  color: white;
}


.search-bar {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.search-btn {
  padding: 10px 15px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #444;
}

/* Responsive Design */
@media (max-width: 768px) {
  .search-container {
    flex-direction: column;
    align-items: stretch;
  }

  .search-bar {
    width: 100%;
    margin-bottom: 10px;
  }

  .search-btn {
    width: 100%;
  }
}
.wraaper-work {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 50%;
  width: 40%;
}
.functions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 300px;
  width: 180px;
  color: white;
  padding: 10px;
}
.functions span i {
  border: 1px solid transparent;
  padding: 3px;
  border-radius: 3px;
}
.functions span i:hover {
  transition: all 300ms;
  border: 1px solid #e0e0e0;
}
@media (max-width: 768px) {
  .wraaper-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .functions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90px;
    color: #e0e0e0;
    padding: 3px;
  }
}
/* Customers */
/* Reset default styles */

/* Header Styling */

/* Users Section */
.users-container,
.service-container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* User Cards Grid */
.users,
.services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}

.user-card,
.service-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 1.5rem;
  text-align: center;
  transition: transform 0.3s;
}

.user-card:hover,
.service-card:hover {
  transform: translateY(-5px);
}

.user-avatar,
.service-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
  object-fit: cover;
}
.users h3,
.services h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.users p,
.services p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1rem;
}

.user-actions,
.service-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.action-btn {
  padding: 0.3rem 0.6rem;
  background-color:transparent;
  color:#333;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.action-btn:hover {
  transition: all 300ms;
  background-color: #444;
  color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
  .main-section header h1 {
    font-size: 2rem;
  }

  .user-card,
  .service-card {
    padding: 1rem;
  }

  .user-avatar,
  .service-avatar {
    width: 80px;
    height: 80px;
  }

  .user-actions,
  .service-actions {
    flex-direction: column;
    gap: 0.5rem;
  }

  .action-btn {
    width: 100%;
  }
}

/* Footer */

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  background-color: #333;
}

.footer-left {
  font-size: 1rem;
  color: #fff;
}

.footer-right ul {
  list-style: none;
  display: flex;
}

.footer-right ul li {
  margin-left: 2rem;
}

.footer-right ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.footer-right ul li a:hover {
  text-decoration: underline;
}

/* Responsive design */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-right ul {
    flex-direction: column;
    margin-top: 1rem;
  }

  .footer-right ul li {
    margin: 0.5rem 0;
  }
}

/* About Page */
/* Hero Section Styles */
.hero {
  background-color: #007bff;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
}

/* About Us Section */
.about-us {
  padding: 50px 20px;
  text-align: center;
}

.about-content h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.about-content p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 40px;
}

/* Team Section */
.team h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.team-members {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.team-member {
  text-align: center;
}

.team-member img {
  height: 120px;
  width: 120px;
  border: 3px solid transparent;
  border-radius: 50%;
  margin-bottom: 10px;
}

.team-member h3 {
  font-size: 22px;
  margin-bottom: 5px;
}

.team-member p {
  margin-bottom: 9px;
  font-size: 16px;
  color: #666;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .main-section header {
    text-align: center;
  }

  .hero h1 {
    font-size: 28px;
  }

  .hero p {
    font-size: 16px;
  }

  .team-members {
    flex-direction: column;
    align-items: center;
  }

  .team-member img {
    width: 100px;
    height: 100px;
  }

  footer {
    padding: 15px;
  }
}

/* CSS */

/* CSS */
.button-8 {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-8:hover,
.button-8:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.button-8:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.button-8:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

/* CSS */
.button-37 {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-37:hover {
  transition: all 300ms;
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
  background-color: #0056b3;
  color: white;
}

@media (min-width: 768px) {
  .button-37 {
    padding: 10px 30px;
  }
}
/* message */
/* Reset default styles */

.chat-container {
  position: fixed;
  left: 35%;
  top: 30%;
  width: 450px;
  max-width: 630px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: none;
  padding: 12px;
  flex-direction: column;
}

.chat-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
}

.messages {
  padding: 10px 20px;
  overflow-y: auto;
  flex-grow: 1;
}

/* Message styles */
.message {
  display: flex;
  margin-bottom: 15px;
  align-items: flex-end;
}

.user-message {
  justify-content: flex-start;
}

.bot-message {
  justify-content: flex-end;
}

.message-content {
  max-width: 75%;
  padding: 6px;
  border-radius: 10px;
  font-size: 16px;
}

.user-message .message-content {
  background-color: #dcf8c6;
  color: black;
}

.bot-message .message-content {
  background-color: #f1f1f1;
  color: #333;
}

/* Input Box styles */
.input-box {
  display: flex;
  padding: 15px;
  background-color: #fafafa;
  border-top: 1px solid #ddd;
}

.input-box input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
}

.input-box input:focus {
  border-color: #007bff;
}

.input-box button {
  padding: 10px 15px;
  margin-left: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.input-box button:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
  .chat-container {
    width: 90%;
    max-width: 500px;
  }

  .messages {
    padding: 15px;
  }

  .message-content {
    font-size: 14px;
  }

  .input-box input {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .chat-container {
    width: 100%;
    max-width: 400px;
  }

  .message-content {
    font-size: 12px;
  }

  .input-box input {
    font-size: 12px;
  }
}

.closebtn {
  border: none;
  outline: none;
  width: fit-content;
  padding: 6px 10px;
  align-self: end;
}
#computerMsg {
  display: none;
}

/* Feedback Page */
.feedback-section {
  padding: 50px 20px;
  background-color: #fff;
  margin-top: 30px;
}

.feedback-container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}

.feedback-list {
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-image: url("https://shop.nebulacare.in/Content/Images/nodata.jpg");
  background-size: contain;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

.feedback-item {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feedback-item h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.feedback-text {
  font-size: 16px;
  margin-bottom: 10px;
}

.rating {
  font-size: 14px;
  font-weight: bold;
  color: #ff8c00;
}
/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .feedback-list {
    padding-left: 0;
  }

  .feedback-item {
    padding: 15px;
  }

  .feedback-container {
    width: 95%;
  }
}

.feedback-delete {
  border: none;
  outline: none;
  color: red;
  background-color: white;
  padding: 6px 12px;
  border-radius: 12px;
  margin-left: 90%;
}

.feedback-love {
  border: none;
  outline: none;
  color: red;
  background-color: white;
  padding: 6px 12px;
  border-radius: 12px;
}

.feedback-delete:hover,
.feedback-love:hover {
  transition: all 300ms;
  background-color: black;
  color: white;
}

/* Cutomer Card */
.card {
  position: absolute;
  top: 10%;
  left: 40%;
  z-index: 1;
  background-color: white;
  width: 300px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

/* .card:hover {
  transform: scale(1.05);
} */

/* Card header */
.card-header {
  width: 100%;
  height: 150px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  border: 3px solid white;
}

/* Card body */
.card-body {
  padding: 20px;
  text-align: center;
}

.card-body h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.card-body .title {
  font-size: 16px;
  color: #7f8c8d;
  margin-bottom: 10px;
}

.card-body p {
  font-size: 14px;
  color: #2c3e50;
  margin-bottom: 15px;
}

.card-body .email {
  display: inline-block;
  background-color: #333;
  color: white;
  padding: 6px 12px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 6px;
}

.card-body .email:hover {
  background-color: #2980b9;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .card {
    width: 90%;
    max-width: 400px;
  }

  .card-header img {
    width: 80px;
    height: 80px;
  }

  .card-body h2 {
    font-size: 20px;
  }

  .card-body .title {
    font-size: 14px;
  }

  .card-body p {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: 100%;
    max-width: 300px;
  }

  .card-header img {
    width: 70px;
    height: 70px;
  }

  .card-body h2 {
    font-size: 18px;
  }

  .card-body .title {
    font-size: 12px;
  }

  .card-body p {
    font-size: 10px;
  }
}
.details-customers {
  display: none;
}
.customercarddetails {
  display: flex;
  flex-direction: column;
  font-size: small;
  justify-content: center;
  gap: 12px;
  align-items: center;
}
.customercarddetails span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.customercarddetails span .cardtitle {
  color: grey;
}
.customerDetailsView {
  height: 100vh;
  width: 100vw;
  background-color: white;
  position: absolute;
  z-index: 1;
  display: none;
}
.closecardbtn {
  background-color: #333;
  display: flex;
  color: white;
  font-size: larger;
  justify-content: end;
  align-items: center;
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
}
.closecardbtn:hover {
  border: none;
  outline: none;
  transition: all 300ms;
  color: red;
}
/* Customer Form  */
.customerform {
  background-color: hsla(0, 0%, 100%, 0.818);
  backdrop-filter: blur(9px);
  padding: 10px 20px;
  width: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  position: absolute;
  border: 1px solid silver;
  left: 30%;
  top: 21%;
  z-index: 1;
  overflow: auto;
  display: none;
}
.form-of-customer-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
  padding: 10px 20px;
}
.form-of-customer-wrapper input {
  border: 1px solid #333;
  outline: none;
  width: 80%;
  padding: 10px;
}
.form-of-customer-wrapper select {
  border: 1px solid #333;
  outline: none;
  width: 80%;
  padding: 10px;
}

/* Service Edit  */

.service-view {
  height: 100vh;
  width: 100vw;
  background-color: white;
  position: absolute;
  border: 1px solid black;
  display: none;
}
.service-dec {
  display: none;
}

/* Service Form */
.service-Form-container {
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.833);
  backdrop-filter: blur(9px);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.service-Form-container .form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-Form-container .form form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid whitesmoke;
  background-color: rgba(255, 255, 255, 0.622);
}

.service-Form-container .form form input,
.service-Form-container .form form textarea {
  border: none;
  outline: none;
  border: 1px solid silver;
  border-radius: 0.3rem;
  height: 1.8rem;
}

.service-Form-container .form form input::placeholder,
.service-Form-container .form form textarea::placeholder {
  text-align: center;
}

.service-Form-container .form form button {
  padding: 0.9rem 2.1rem;
  width: fit-content;
  align-self: center;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  background-color: rgb(7, 106, 172);
  color: white;
  transition: all 300ms;
}

.service-Form-container .form form button:hover {
  background-color: black;
  color: white;
}
/* Payment */

.payment-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  border: 1px solid silver;
  color: white;
  border-radius: 6px;
  padding: 12px;
  /* background:#282828; */
  background: linear-gradient(90deg, #282828ec 100%, #282828 100%);
}
.online-payment-row {
  backdrop-filter: blur(50px);
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.balance {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.balance-amount {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.dont-view-balance {
  display: none;
}
.payment-closebtn {
  align-self: end;
  font-size: larger;
}

.payment-card span {
  color: silver;
}
.payment-card b {
  color: whitesmoke;
}
.payment-card i {
  color: whitesmoke;
}
.payment-card i:hover {
  transition: all 300ms;
  color: orange;
}
/* New */
.banking-row {
  backdrop-filter: blur(50px);
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.bank-payment-Card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.3rem;
  border-radius: 0.6rem;
  padding: 0.6rem;
  color: white;
  box-shadow: rgba(1, 70, 87, 0.336) 0px 3px 3px 0px;
  background: linear-gradient(90deg, #282828ec 100%, #282828 100%);
}

.bank-balance {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.6rem;
}

.dont-view-bank-balance {
  transition: all 300ms;
  display: none;
  justify-content: center;
  align-items: center;
}

.view-bank-balance {
  transition: all 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bank-balance-amount {
  transition: all 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  color: transparent;
}
.bank-card-close-btn {
  transition: all 100ms;
  align-self: end;
}
.bank-card-close-btn:hover {
  color: gold;
}
.bank-card-heading {
  color: #282828;
}

/* new booking / appointment*/
.appointment-card {
  background-color: #ffffff;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
}
.appointment-card:hover {
  transition: all 300ms;
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.appointment-card .header {
  text-align: center;
  margin-bottom: 20px;
}

.appointment-card .header h2 {
  font-size: 21px;
  color: #33333374;
}
.appointment-card .header h2 span {
  color: #333;
}

.booking-card-content {
  margin-bottom: 20px;
}

.booking-card-row {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

.booking-card-row label {
  font-weight: bold;
  color: #555;
}

.booking-card-row p {
  display: inline-block;
  color: #333;
  font-size: 16px;
}

.appointment-card .footer {
  text-align: center;
  font-size: 14px;
  color: #777;
}

.appointment-card .footer a {
  color: #007bff;
  text-decoration: none;
}

.appointment-card .footer a:hover {
  text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 600px) {
  .appointment-card {
    padding: 15px;
  }

  .appointment-card .header h2 {
    font-size: 20px;
  }

  .booking-card-row label {
    font-size: 14px;
  }

  .booking-card-row p {
    font-size: 14px;
  }

  .appointment-card .footer {
    font-size: 12px;
  }
}

.button-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn {
  padding: 9px 21px;
  font-size: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.accept {
  background-color: #4caf50;
  color: white;
}

.accept:hover {
  background-color: #45a049;
}

.cancel {
  background-color: #f44336;
  color: white;
}

.cancel:hover {
  background-color: #e53935;
}
/* Booking Appointment / Form */

.appointment-card-form {
  display: none;
  position: absolute;
  top: 36%;
  left: 36%;
  background-color: #ffffff;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
}

.header-form {
  text-align: center;
  margin-bottom: 20px;
}

.header-form h4 {
  font-size: 24px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.booking-card-content-form {
  margin-bottom: 20px;
}

.booking-card-row-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}
.booking-card-row-form input,
.footer-form input {
  width: 50%;
  outline: none;
  border: 1px solid silver;
  padding: 0.3rem;
  border-radius: 0.3rem;
}

.booking-card-row-form label {
  font-weight: bold;
  color: #555;
}

.booking-card-row-form p {
  display: inline-block;
  color: #333;
  font-size: 16px;
}

.footer-form {
  text-align: center;

  color: #777;
  width: 100%;
}

.footer-form label {
  font-weight: bold;
  color: #555;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  text-decoration: none;
}

/* Responsive styles */
@media (max-width: 600px) {
  .appointment-card-form {
    padding: 15px;
  }

  .header-form h2 {
    font-size: 20px;
  }

  .booking-card-row-form label {
    font-size: 14px;
  }

  .booking-card-row-form p {
    font-size: 14px;
  }

  .footer-form {
    font-size: 12px;
  }
}

.button-container-form {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.closebtnForm {
  margin-left: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.closebtnForm .closebtn {
  border-radius: 3px;
}
.closebtnForm .closebtn:hover {
  transition: all 300ms;
  background-color: #282828;
  color: white;
}

/* AppForm */
.all-app-form-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-form-container {
  margin: 50px auto;
  display: none;
  background-color: #fff;
  padding: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 100%;
  max-width: 450px;
}

.app-form-container h2 {
  text-align: center;
  margin-bottom: 12px;
  color: #333;
}

.app-form-container label {
  display: block;
  margin-bottom: 6px;
  color: #555;
}

/* input[type="text"], input[type="email"], input[type="password"] */
.app-form-container input,
.app-form-container select {
  width: 100%;
  padding: 9px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.app-form-container button {
  width: 100%;
  padding: 9px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
}

.app-form-container button:hover {
  background-color: #45a049;
}

@media (max-width: 600px) {
  .app-form-container {
    padding: 12px;
    width: 90%;
  }

  .app-form-container h2 {
    font-size: 18px;
  }

  .app-form-container input {
    font-size: 12px;
  }

  .app-form-container button {
    font-size: 12px;
  }
}
/* Service Form */
.all-service-form-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-form-container {
  margin: 50px auto;
  display: none;
  background-color: #fff;
  padding: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 100%;
  max-width: 450px;
}

.service-form-container h2 {
  text-align: center;
  margin-bottom: 12px;
  color: #333;
}

.service-form-container label {
  display: block;
  margin-bottom: 6px;
  color: #555;
}

/* input[type="text"], input[type="email"], input[type="password"] */
.service-form-container input,
.service-form-container select,
.service-form-container textarea {
  width: 100%;
  padding: 9px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.service-form-container button {
  width: 100%;
  padding: 9px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
}

.service-form-container button:hover {
  background-color: #45a049;
}

@media (max-width: 600px) {
  .service-form-container {
    padding: 12px;
    width: 90%;
  }

  .service-form-container h2 {
    font-size: 18px;
  }

  .service-form-container input {
    font-size: 12px;
  }

  .service-form-container button {
    font-size: 12px;
  }
}
/* Customer */
.all-customer-form-container {
  display: flex;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-form-container {
  display: none;
  background-color: #fff;
  padding: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 100%;
  max-width: 450px;
}

.customer-form-container h2 {
  text-align: center;
  margin-bottom: 12px;
  color: #333;
}

.customer-form-container label {
  display: block;
  margin-bottom: 6px;
  color: #555;
}

/* input[type="text"], input[type="email"], input[type="password"] */
.customer-form-container input,
.customer-form-container select,
.customer-form-container textarea {
  width: 100%;
  padding: 9px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.customer-form-container button {
  width: 100%;
  padding: 9px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
}

.customer-form-container button:hover {
  background-color: #45a049;
}

@media (max-width: 600px) {
  .customer-form-container {
    padding: 12px;
    width: 90%;
  }

  .customer-form-container h2 {
    font-size: 18px;
  }

  .customer-form-container input {
    font-size: 12px;
  }

  .customer-form-container button {
    font-size: 12px;
  }
}

/* Work Page */
.work-card {
  background-color: #282828;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 320px;
  transition: transform 0.6s ease;
  padding: 0.3rem;
}

.work-card:hover {
  /* box-shadow: rgba(9, 9, 30, 0.25) 0px 30px 60px -12px inset, rgba(234, 234, 10, 0.9) 0px 18px 36px -18px inset; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.work-card:hover .work-card-img {
  filter: contrast(100%);
}

.work-card-img {
  transition: all 300ms;
  padding: 12px;
  width: 100%;
  height: 200px;
  object-fit: cover;
  filter: invert(50%);
}

.work-card-content {
  padding: 20px;
}

.work-card-content h3 {
  font-size: 1.5rem;
  color: whitesmoke;
  margin-bottom: 10px;
}

.work-card-content h6 {
  font-size: 0.8rem;
  color: lightgray;
  margin-bottom: 10px;
}

.work-card-content p {
  font-size: 1rem;
  color: silver;
  margin-bottom: 15px;
}

.work-status-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.work-status {
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 25px;
  text-transform: capitalize;
  font-size: 0.9rem;
}

.work-pending {
  background-color: #ffcc00;
  color: #fff;
}

.work-in-progress {
  background-color: #007bff;
  color: #fff;
}

.work-done {
  background-color: #28a745;
  color: #fff;
}

.workCloseBtn {
  color: #f5f5f5;
  display: none;
  font-size: 1.5rem;
  padding: 1rem;
  margin-left: 80%;
}

.workCloseBtn:hover {
  transition: all 300ms;
  color: red;
  font-size: 1.5rem;
  margin-left: 90%;
}
/* Responsive Styles */
@media (max-width: 768px) {
  .work-card {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .work-card {
    width: 100%;
  }

  .work-card-content h3 {
    font-size: 1.2rem;
  }

  .work-card-content p {
    font-size: 0.9rem;
  }

  .work-status {
    font-size: 0.8rem;
  }
}
/* Work Form */

.all-work-form-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-form-container {
  display: none;
  background-color: #fff;
  padding: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 100%;
  max-width: 450px;
}

.work-form-container h2 {
  text-align: center;
  margin-bottom: 12px;
  color: #333;
}

.work-form-container label {
  display: block;
  margin-bottom: 6px;
  color: #555;
}

/* input[type="text"], input[type="email"], input[type="password"] */
.work-form-container input,
.work-form-container select,
.work-form-container textarea {
  width: 100%;
  padding: 9px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.work-form-container button {
  width: 100%;
  padding: 9px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
}

.work-form-container button:hover {
  background-color: #45a049;
}

@media (max-width: 600px) {
  .work-form-container {
    padding: 12px;
    width: 90%;
  }

  .work-form-container h2 {
    font-size: 18px;
  }

  .work-form-container input {
    font-size: 12px;
  }

  .work-form-container button {
    font-size: 12px;
  }
}
#datetime
{
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
}
#findcar
{
  background-image: url('/images/searching-car.png');
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
  height: 50%;
  width: 50%;
  margin: 0px auto;
  border: 1px solid grey;
  border-radius: 12px;




}